<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>AIV Seeker Service</title>
</head>
<body>
<div class="container text-center">

      <div class="masthead">
        <h1 class="text-muted">AIV Seeker Service</h1>
      </div>

      <!-- Jumbotron -->
      <br><div class="jumbotron">
        <h1>Welcome to AIV Seeker Service</h1>
        <p class="lead">AIV Seeker Service is optimized for routine genomic analysis of Avian Influenza Virus from metagenomics data</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Sequence Assembly</h2>
          <p>.... </p>
          <p><a class="btn btn-primary" href="#" role="button">Submit here &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Detection and subtyping</h2>
          <p>.... </p>
          <p><a class="btn btn-primary" href="/workflows/submit" role="button">Submit here &raquo;</a> </p>
       </div>
        <div class="col-lg-4">
          <h2>Phylogenetic analysis</h2>
          <p>....</p>
          <p><a class="btn btn-primary" href="#" role="button">Submit here &raquo;</a></p>
        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <br> <br> <br><p> https://github.com/duanjunhyq/AIV_seeker</p>
      </footer>

    </div> <!-- /container -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>