{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>AIV Seeker Service</title>
</head>
<body>
<div class="container">
           <nav class="navbar navbar-light bg-faded rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-toggleable-md" id="navbarCollapse">
            <ul class="nav navbar-nav text-md-center justify-content-md-between">
              <li class="nav-item active">
                <a class="nav-link" href="/workflows/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
          <form class="form-inline">
    <input class="form-control mr-sm-2" type="Email" placeholder="Email" aria-label="Email">
        <input class="form-control mr-sm-2" type="Password" placeholder="Password" aria-label="Password">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
  </form>
        </nav>
</div>
<div class="container text-center">

      <!-- Jumbotron -->
      <br><div class="jumbotron">
        <h1>Welcome to AIV Seeker Service</h1>
        <p class="lead">AIV Seeker Service is optimized for routine genomic analysis of Avian Influenza Virus from NGS data</p>
      </div>


      <div class="row">
        <div class="col-lg-4">
          <h2>Sequence Assembly</h2>
          <p>SPAdes Assembly and QUAST assembly assessment </p>
          <p><a class="btn btn-primary" href="#" role="button">Submit here &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Detection and subtyping</h2>
          <p>FastQC assessment of reads,Identification and subtyping using Diamond using Blastn </p>
          <p><a class="btn btn-primary" href="/workflows/submit" role="button">Submit here &raquo;</a> </p>
       </div>
        <div class="col-lg-4">
          <h2>Phylogenetic analysis</h2>
          <p>MAFFT alignment and Maximum likelihood phylogenetic trees using RAxML</p>
          <p><a class="btn btn-primary" href="#" role="button">Submit here &raquo;</a></p>
        </div>
      </div>

      <!-- Site footer -->
 <div class="container-fluid text-center"><footer class="fixed-bottom">
        <br> <br> <br><p> https://github.com/duanjunhyq/AIV_seeker</p>
    <div class="row">
              <div class="col-3"><img src="{% static "images/BCCDC_Logo.png"%}" class="rounded float-left" style="max-width: 150px;max-height:300px;width: auto;height: auto;"></div>
                      <div class="col-3"><img src="{% static "images/CWHC_logo.jpg"%}" class= "rounded mx-auto d-block"style="max-width: 150px;max-height:70px;width: auto;height: auto;" ></div>
              <div class="col-3"><img src="{% static "images/UBC_logo.png"%}" class="rounded float-right" style="max-width: 150px;max-height:300px;width: auto;height: auto;" ></div>
          </div>
</footer>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>