{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>AIV Seeker Service Job {{ workflow_id }} - Status</title>
</head>

<div class="container">
           <nav class="navbar navbar-light bg-faded rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-toggleable-md" id="navbarCollapse">
            <ul class="nav navbar-nav text-md-center justify-content-md-between">
              <li class="nav-item active">
                <a class="nav-link" href="/workflows/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
          <form class="form-inline">
    <input class="form-control mr-sm-2" type="Email" placeholder="Email" aria-label="Email">
        <input class="form-control mr-sm-2" type="Password" placeholder="Password" aria-label="Password">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
  </form>
        </nav>
</div>
<div class="container-fluid text-center">
    <button type="button" class="btn btn-danger btn-lg btn-block">AIV Seeker Service</button>
<br></div>
<body>
<div> <img src="{% static "images/aishu1AIV.jpg" %}" width=100% style="height : 350px" class= "rounded-pill"> </div>
<br>
<div class="container-fluid text-center">
Job ID: {{ workflow_id }}<br>
Job Status: {{ status }}<br>
<div>
    <p><a class="btn btn-warning" href="output/{{ workflow_id }}/9.subtype_raw/4.report/report.pdf.pdf" target="_blank" role="button">View results here &raquo;</a> </p>
</div>
<div>
    <p> <a class="btn btn-warning" href="output/{{ workflow_id }}/9.subtype_raw/4.report/report_raw_s3.csv" role="button">Download results here &raquo;</a> </p>
</div>
</div>

<div class="container-fluid text-center"><footer class="footer mt-auto py-3">
        <br> <br> <br><p> https://github.com/duanjunhyq/AIV_seeker</p>
    <div class="row">
              <div class="col-3"><img src="{% static "images/BCCDC_Logo.png"%}" class="rounded float-left" style="max-width: 150px;max-height:300px;width: auto;height: auto;"></div>
              <div class="col-3"><img src="{% static "images/UBC_logo.png"%}" class="rounded mx-auto d-block" style="max-width: 150px;max-height:300px;width: auto;height: auto;" ></div>
              <div class="col-3"><img src="{% static "images/CWHC_logo.jpg"%}" class="rounded float-right" style="max-width: 150px;max-height:300px;width: auto;height: auto;" ></div>
          </div></div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>